body{
  background-color: #333333;
}

#demo{
  color: white;
  display: flex;
  font-family: roboto;
  font-size: 54px;
  justify-content: center;
}

.char{
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: move;
  transform: translateX(-1500px);
}

.char:hover{
  filter: blur(2px);
}

@keyframes move{
  from{
    transform: translateX(-1500px);
  }
  to{
    transform: translateX(0px);
  }
}